<div id="main_body">
  <div class="form_div">
    <div class="main_header">
      <h1 class="text-center">Job Entrance Exam details</h1>
    </div>
    <form class="form">
      <div class="form-group mb-2">
        <div class="row">
          <div class="col"><label for="Job_Id">Job_Id</label></div>
          <div class="col"><input number="number" class="form-control" placeholder="Job_Id" required></div>
        </div>
        <div class="error_div">

        </div>
      </div>
      <div class="form-group mb-2">
        <div class="row">
          <div class="col"><label for="Exam_Id">Exam_Id</label></div>
          <div class="col"><input type="number" class="form-control" placeholder="Exam_Id" required></div>
        </div>
        <div class="error_div">

        </div>
      </div>
      <div class="form-group mb-5">
        <div class="row">
          <div class="col"><label for="Exam_Group_Id">Exam_Group_Id</label></div>
          <div class="col"><input type="number" class="form-control" placeholder="Exam_Group_Id" required></div>
        </div>
        <div class="error_div">

        </div>
      </div>
      <div class="col col-md-12">
        <div class="text-center">
          <button class="BUTTON">Submit Exam ID's</button>
        </div>
      </div>

    </form>
  </div>
</div>


