

.form_div{
  margin: 20px;
  width: 600px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgb(135, 135, 255) 2px 2px 4px;
  background-color:  #1F2C58;
}
form {
  padding: 20px;
}

.BUTTON{
  background-color: #ECA400;
  padding: 5PX 10PX;
  color: black;
  font-family: sans-serif;
}



h1{
  font-family: sans-serif;
  color: #E82070;
  text-shadow: #E82070 2px 2px 2px 2px;
}

label{
  color: white;
}
