<div id="main_body">
  <div class="form_div">
    <div class="main_header">
      <h1 class="text-center">Enter Job Eligibility</h1>
    </div>
    <form class="form">
      <div class="form-group mb-2">
        <div class="row">
          <div class="col"><label for="Min_Age">Min_Age</label></div>
          <div class="col"><input type="number" class="form-control" placeholder="Min_Age" required></div>
        </div>
        <div class="error_div">

        </div>
      </div>
      <div class="form-group mb-2">
        <div class="row">
          <div class="col"><label for="Max_Age">Max_Age</label></div>
          <div class="col"><input type="number" class="form-control" placeholder="Max_Age" required></div>
        </div>
        <div class="error_div">

        </div>
      </div>
      <div class="form-group mb-2">
        <div class="row">
          <div class="col"><label for="Min_education_level">Min_education_level</label></div>
          <div class="col"><input type="text" class="form-control" placeholder="Min_education_level" required></div>
        </div>
        <div class="error_div">

        </div>
      </div>
      <div class="form--group mb-5">
        <div class="row">
          <div class="col"><label for="Job_Id">Job_Id</label></div>
          <div class="col">
            <select name="ED" id="ED" class="form-select">
              <option value="select">Job_Id</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col col-md-12">
        <div class="text-center">
          <button class="BUTTON">Set Eligibility</button>
        </div>
      </div>

    </form>
  </div>
</div>



